---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Teaching 

From the beginning of my first masters, I have had the opportunity to teach undergraduate courses in different universities. The following are the courses and seminars I have taught so far. 

-	Introduction to Information and Communication Technology Resources. 2023. First term. Universitat Pompeu Fabra (Barcelona, Spain).
-	Philosophy of Language. 2021-2023. First and second semesters. Universidad El Bosque (Bogotá, Colombia).
-	Seminar on Ancient Philosophy: Ancient Epistemology. 2020. First semester. Universidad Nacional de Colombia (Bogotá, Colombia).
-	Logic II (Formal Logic). 2020. First semester. Universidad El Bosque (Bogotá, Colombia).
-	Logic I (Informal Logic). 2020. First semester. Universidad El Bosque (Bogotá, Colombia). 2019. First and second semesters. Universidad Nacional de Colombia (Bogotá, Colombia).


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
